{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
    <link rel="stylesheet" href="{% static 'mysite/css/bootstrap.css' %}">
</head>
<body>
{% include 'components/navbar.html' %}
    <h1>ALYCIA CLARK</h1>
    <h3>Developer</h3>
    <h3>Leader</h3>
    <h3>Thinker</h3>
    <br />

    <h2>Objective</h2>
    <p>A dedicated, motivated, and versatile hard worker, in search of a career to
        expand professional capabilities, by utilizing diversified skill set obtained from
        prior occupational, educational and life experiences.</p>

</body>
</html>