{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Alycia Clark | Home</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'mysite/css/bootstrap.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'mysite/css/style.css' %}"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'AC_ICON.ico' %}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand&family=Sacramento&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-dark">
    {% include 'components/navbar.html' %}
    <div class="title-header">
      <h1 class="text-center p-5 text-light">ALYCIA N. CLARK</h1>
    </div>

    <div class="d-flex justify-content-center bg-info descriptor-header">
      <h3 class="p-2 px-4 text-dark">Full-Stack Developer</h3>
      <h3 class="p-2 px-4 text-secondary">Leader</h3>
      <h3 class="p-2 px-4 text-dark">Thinker</h3>
      <h3 class="p-2 px-4 text-secondary">Creator</h3>
      <h3 class="p-2 px-4 text-dark">Problem-Solver</h3>
    </div>

    <br />

    <div>
      <div class="image-container">
        <img src="{% static 'computer.jpg' %}" class="page-image" />
      </div>
    </div>
    
    <h2 class="text-center p-4 text-info">Objective</h2>
    <div class="d-flex justify-content-center">
      <p class="text-center w-50 p-3 text-light objective-about">
        A software engineer with expertise in Python, JavaScript (React, Vue),
        seeking a challenging role to leverage my extensive background in
        software development, QA testing, and technical support. Committed to
        delivering innovative solutions, improving processes, and enhancing user
        experiences in a dynamic and collaborative environment. Passionate about
        continuous learning and contributing to impactful projects through my
        strong problem-solving skills and dedication to excellence.
      </p>
    </div>

    <h2 class="text-center p-4 text-info">About Me</h2>
    <div class="d-flex justify-content-center">
      <p class="text-center w-50 p-3 text-light objective-about">
        I'm a recently crowned Software Engineer, pulled from the depths of
        tutorial hell by a great company, and with an awesome bootcamp lighting
        the way. Programming is one of my biggest hobbies, and I love creating
        small projects on the side.
        <a
          href="https://www.ancportfolio.link/projects"
          target="_blank"
          class="text-info"
          style="display: inline-block"
        >
          My portfolio
        </a>
        includes a handful of projects I've made in my free-time.
      </p>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
