{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="{% static 'mysite/css/bootstrap.css' %}">
</head>
<body>
{% include 'components/navbar.html' %}
<h1 class="header">Contact Me</h1>
      <a href="https://www.linkedin.com/in/anclark686/" target="_blank" rel="noreferrer">LinkedIn</a>
      <br />
<h4>Portfolio</h4>
  <a href="http://localhost:3000/">Alycia Nicole</a>
<div class="card d-grid gap-2 col-6 mx-auto">
  <div class="card-body">
    <div class="mb-3 d-grid gap-2 col-12 mx-auto">
      <label for="exampleFormControlInput1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3 d-grid gap-2 col-12 mx-auto">
      <label for="exampleFormControlTextarea1" class="form-label">Message Me</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
    </div>

    <div class="d-grid gap-2 col-4 mx-auto">
      <button class="btn btn-primary" type="button">Submit</button>
    </div>
  </div>
</div>

</body>
</html>